/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Trickerion implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * Trickerion.css
 *
 * Trickerion stylesheet
 *
 */

#game_play_area {
    --zoom: 1;
    --gap: calc(var(--zoom) * 10px);
}

#player_boards {
    --zoom: 0.5;
    --gap: calc(var(--zoom) * 10px);
}

/* missing tailwind*/
.gap-\(--gap\) {
    gap: var(--gap);
}

.card, .remaining-cards {
    width: calc(var(--zoom) * 100px);
    height: calc(var(--zoom) * 150px);
}

.card:before, .remaining-cards:before {
	content: attr(data-value);
    font-size: calc(var(--zoom) * 50px);
}

.remaining-cards {
    background-color: gray;
    color: white;
}

.card[data-color="cyan"] {
    background-color: cyan;
}

.card[data-color="blue"] {
    background-color: blue;
    color: white;
}

.card[data-color="orange"] {
    background-color: orange;
    color: white;
}

.card[data-color="yellow"] {
    background-color: yellow;
}

.card[data-color="purple"] {
    background-color: purple;
}

.card[data-color="brown"] {
    background-color: brown;
    color: white;
}

.pair {
    --gap: 0;
    --zoom: 0.3
}

#logs {
    --zoom: 0.3;
}

#logs .log.cancel {
    text-decoration: line-through;
    filter: contrast(0.5);
}

.token {
    width: calc(var(--zoom) * 50px);
    height: calc(var(--zoom) * 50px);
    border-radius: 50%;
    background-color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--zoom) * 20px);
}

.token[data-value="5"]:before {
    content: "5";
}

.token[data-value="15"]:before {
    content: "15";
}

