@import "_slots.generated";

$boardWidth: 4096px / 3;
$boardHeight: 2887px / 3;
#trickerion-main-wrapper {
    position: relative;

    #trickerion-main-container {
        position: relative;
        display: flex;
        justify-content: center;

        #trickerion-board-wrapper {
            #trickerion-board {
                position: relative;
                width: $boardWidth;
                height: $boardHeight;

                #board-background {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-image: url("img/board.jpg");
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}

$downtownWidth: 700px;
$downtownHeight: 360px;
#board-downtown {
    position: relative;
    width: $downtownWidth;
    height: $downtownHeight;
    #board-downtown-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: $downtownWidth;
        height: $downtownHeight;
        transform-origin: top left;
        background-image: url("img/board.jpg");
        background-repeat: no-repeat;
        background-size: 302% auto;
        background-position: 25% 2%;
        border: 1px solid #a2360c;
        border-radius: 5px;
        box-sizing: border-box;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: #c5c5c55c;
        }

        #downtown-logo {
            width: 100px;
            position: absolute;
            bottom: 0px;
            left: 6px;
        }

        #dice-characters,
        #dice-tricks,
        #dice-banks {
            width: 105px;
            height: 50px;
            position: absolute;
            display: flex;
            column-gap: 5px;

            & > div {
                width: 50px;
                box-shadow: 1px 1px 2px black;
            }
        }

        #dice-characters {
            top: 86px;
            left: 52px;
        }
        #dice-tricks {
            top: 83px;
            left: 300px;
        }
        #dice-banks {
            top: 83px;
            left: 548px;
        }

        .slot-downtown-action-space {
            width: 100px;
            position: absolute;
            box-shadow: 1px 1px 3px black;
            border-radius: 13px;
            border: 1px solid black;

            div {
                width: 75px;
                margin: 8px auto;
            }

            .slot-downtown-action-cost {
                position: absolute;
                width: 40px;
                left: 30px;
                bottom: -23px;
                box-shadow: 1px 1px 2px black;
                border-radius: 50%;
                font-weight: 900;
                font-family: "Brandon Text";
                font-size: 20px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 15px;
                }

                &::before {
                    content: "\e923";
                    font-family: "icomoon" !important;
                    speak: never;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    font-size: 8px;
                    margin: 2px 11px -16px;
                }
            }

            &#market-learn-trick {
                top: 140px;
                left: 300px;
            }
            &#market-hire-character {
                top: 140px;
                left: 53px;
            }
            &#market-take-coins {
                top: 140px;
                left: 549px;
            }
            &#market-reroll-die {
                top: 100px;
                left: 177px;
            }
            &#market-set-die {
                top: 100px;
                left: 422px;
            }
        }

        .action-slots {
            position: absolute;
            bottom: 5px;
            left: 81px;
            right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            & > div {
                height: 100px;
                position: relative;

                &.selectable {
                    cursor: pointer;
                    &::before {
                        content: "";
                        width: 59px;
                        height: 59px;
                        border-radius: 50%;
                        display: block;
                        position: absolute;
                        left: 15px;
                        top: 18px;
                        box-shadow: inset 0px 0px 13px 7px gold;
                    }

                    &:hover {
                        transform: scale(1.05);
                        &::before {
                            box-shadow: inset 0px 0px 15px 12px gold;
                        }
                    }
                }
            }

            .slot-downtown-shard-boost {
                height: 50px;
                box-shadow: 2px 2px 4px black;
                border-radius: 10px;
            }
        }

        #trick-decks {
            position: absolute;
            display: flex;
            left: 7px;
            right: 7px;
            top: 7px;
            justify-content: space-around;

            .trick-deck {
                width: 150px;
                height: 45px;
                border: 1px solid #504130;
                border-radius: 6px;
                background: #ffffffa8;
                position: relative;
                box-shadow: 1px 1px 3px black;
                text-align: center;
                font-family: "Brandon Text";
                font-weight: 500;
                cursor: zoom-in;
                &:hover {
                    transform: scale(1.1);
                }

                .trick-type {
                    position: absolute;
                    left: 40px;
                    width: 65px;
                    bottom: -25px;
                }
            }
        }
    }
}
