@import "_icons.generated";

.icon-container {
  display: inline-block;
  // vertical-align: bottom;
  vertical-align: middle;
  margin: 0 0.08em;
  font-size: 1em;
}

// #animation-coin,
// #animation-whiskey {
//   background: rgba(255, 255, 255, 0.747);
//   padding: 4px 7px;
//   border-radius: 5px;
//   border: 1px solid black;
//   font-size: 24px;
//   font-family: "Garamond";
//   font-weight: bold;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
