@import "_icons.generated";

.icon-container {
  display: inline-block;
  // vertical-align: bottom;
  vertical-align: middle;
  margin: 0 0.08em;
  font-size: 1em;
}

// #animation-coin,
// #animation-whiskey {
//   background: rgba(255, 255, 255, 0.747);
//   padding: 4px 7px;
//   border-radius: 5px;
//   border: 1px solid black;
//   font-size: 24px;
//   font-family: "Garamond";
//   font-weight: bold;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

///////////////////////
//  ______     ______
// / ___\ \   / / ___|
// \___ \\ \ / / |  _
//  ___) |\ V /| |_| |
// |____/  \_/  \____|
///////////////////////

[class^="svgicon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.svgicon-end:before {
  content: "\e910";
}
.svgicon-disk:before {
  content: "\e90a";
}
.svgicon-disk-apprentice:before {
  content: "\e90b";
}
.svgicon-disk-assistant:before {
  content: "\e90c";
}
.svgicon-disk-engineer:before {
  content: "\e90d";
}
.svgicon-disk-magician:before {
  content: "\e90e";
}
.svgicon-disk-manager:before {
  content: "\e90f";
}
.svgicon-other-players:before {
  content: "\e91e";
}
.svgicon-action-point:before {
  content: "\e900";
}
.svgicon-active-player:before {
  content: "\e901";
}
.svgicon-advertise:before {
  content: "\e902";
}
.svgicon-apprentice:before {
  content: "\e903";
}
.svgicon-assignment:before {
  content: "\e904";
}
.svgicon-assistant:before {
  content: "\e905";
}
.svgicon-coin:before {
  content: "\e906";
}
.svgicon-component:before {
  content: "\e907";
}
.svgicon-diamond-ring:before {
  content: "\e908";
}
.svgicon-die:before {
  content: "\e909";
}
.svgicon-engineer:before {
  content: "\e917";
}
.svgicon-fame:before {
  content: "\e918";
}
.svgicon-fame-threshold:before {
  content: "\e919";
}
.svgicon-link:before {
  content: "\e91a";
}
.svgicon-link-shard:before {
  content: "\e91b";
}
.svgicon-magician:before {
  content: "\e91c";
}
.svgicon-manager:before {
  content: "\e91d";
}
.svgicon-perform:before {
  content: "\e91f";
}
.svgicon-performance:before {
  content: "\e920";
}
.svgicon-shard:before {
  content: "\e921";
}
.svgicon-special-assignment:before {
  content: "\e922";
}
.svgicon-spend:before {
  content: "\e923";
}
.svgicon-trick:before {
  content: "\e924";
}
.svgicon-trick-marker:before {
  content: "\e925";
}
