#pagemaintitletext,
#gameaction_status,
.player-board {
    .trick-card {
        position: absolute;
        left: 50%;
    }
}

.log-trick-card-name {
    font-style: italic;
}

.trick-card {
    position: relative;
    width: calc(var(--trickCardScale) * 348px);
    height: calc(var(--trickCardScale) * 537px);

    &.unselectable {
        cursor: not-allowed;
        // }
        // [data-filter="0"] &.unselectable {
        filter: grayscale(80%);
        -webkit-transform: translateZ(0);
        -webkit-perspective: 1000;
        -webkit-backface-visibility: hidden;
    }

    &.selectable {
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
        box-shadow: 0px 0px 10px 0px #dbae00;
    }

    &.selected {
        border: 2px solid rgb(60, 255, 0);
        margin: -2px;
        box-shadow: 0px 0px 10px 0px rgb(43, 255, 0);
        border-radius: 4px;
    }

    .trick-card-inner {
        width: 348px;
        height: 537px;
        transform-origin: top left;
        transform: scale(var(--trickCardScale));
        border-radius: 8px;
        box-shadow: 2px 2px 3px 1px black;
        background-image: url("img/tricks.jpg");
        background-size: 800% 600%;
        position: absolute;

        display: flex;
        justify-content: center;
        align-items: baseline;

        .card-name {
            position: absolute;
            top: 77px;
            left: 31px;
            width: 290px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            span {
                font-family: "Brandon Text Medium";
                font-size: 20px;
            }
        }

        .symbol-marker-slot {
            position: absolute;
            left: 204px;
            top: 332px;
            width: 120px;
            height: 120px;
        }
        .trick-marker-slots {
            position: absolute;
            left: 23px;
            top: 332px;
            width: 120px;
            height: 120px;
        }

        .trick-components {
            position: absolute;
            top: 260px;
            right: 30px;
            display: flex;

            .trick-component {
                width: 50px;
                height: 50px;
                margin-left: 20px;
                position: relative;

                &::before {
                    content: attr(data-n);
                    position: absolute;
                    top: -22px;
                    left: 9px;
                    width: 31px;
                    height: 22px;
                    border: 1px solid black;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    font-family: "Brandon Text Black";
                    text-align: center;
                    font-size: 19px;
                    line-height: 23px;
                    background: #cdb26f;
                    color: black;
                }

                &[data-n="2"] {
                    transform: translate(7px, 7px);
                    &::before {
                        left: 2px;
                        top: -29px;
                    }
                }
                &[data-n="3"] {
                    transform: translate(14px, 14px);
                    &::before {
                        left: -5px;
                        top: -35px;
                    }
                }
                &[data-type="advanced"]::before {
                    background: #ca7b2c;
                }
                &[data-type="superior"]::before {
                    background: #a23f3d;
                }

                div {
                    width: 50px;
                    height: 50px;
                    border: 1px solid black;

                    & ~ div {
                        margin-top: -58px;
                        margin-left: -7px;
                        & ~ div {
                            margin-left: -14px;
                            & ~ div {
                                margin-left: -21px;
                            }
                        }
                    }
                }
            }
        }

        .trick-bonus-fame,
        .trick-bonus-coins {
            font-family: "Brandon Text Black";
            position: absolute;
            right: 177px;
            top: 326px;
            font-size: 28px;
        }
        .trick-bonus-coins {
            top: 355px;
        }
    }

    @each $type in $trickTypes {
        $i: index($trickTypes, $type) - 1;
        &[data-type="#{$type}"] .trick-card-inner {
            background-position-x: ($i % 8) * 100% / 7;
            background-position-y: (($i - ($i % 8)) / 8) * 100% / 5;
        }
    }
}
