@use "variables.scss";
@use "sass:list";
@use "sass:math";

#pagemaintitletext,
#gameaction_status,
.player-board {
    .magician-card {
        position: absolute;
        left: 50%;
    }
}

.magician-tooltip {
    --magicianCardScale: 0.8;
    font-family: "Brandon Text Medium";
    width: 500px;
    display: flex;
    column-gap: 10px;
}

.magician-card {
    flex-shrink: 0;
    position: relative;
    width: calc(var(--magicianCardScale) * 349px);
    height: calc(var(--magicianCardScale) * 538px);

    &.unselectable {
        cursor: not-allowed;
        filter: grayscale(80%);
        -webkit-transform: translateZ(0);
        -webkit-perspective: 1000;
        -webkit-backface-visibility: hidden;
    }

    &.selectable {
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
        box-shadow: 0px 0px 10px 0px #dbae00;
    }

    &.selected {
        border: 2px solid rgb(60, 255, 0);
        margin: -2px;
        box-shadow: 0px 0px 10px 0px rgb(43, 255, 0);
        border-radius: 4px;
    }

    .magician-card-inner {
        width: 349px;
        height: 538px;
        transform-origin: top left;
        transform: scale(var(--magicianCardScale));
        border-radius: 8px;
        box-shadow: 2px 2px 3px 1px black;
        background-image: url("img/magicians.jpg");
        background-size: 600% 300%;
        position: absolute;

        .magician-name {
            position: absolute;
            top: 77px;
            left: 31px;
            width: 290px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            span {
                font-family: "Brandon Text Bold";
                font-size: 20px;
                text-transform: uppercase;
            }
        }
    }

    @each $type in variables.$magicianTypes {
        $i: list.index(variables.$magicianTypes, $type) - 1;
        &[data-type="#{$type}"] .magician-card-inner {
            background-position-x: math.div(($i % 6) * 100%, 5);
            background-position-y: math.div(($i - math.div(($i % 6), 6)) * 100%, 2);
        }
    }
}

.magician-poster {
    flex-shrink: 0;
    position: relative;
    width: calc(var(--magicianCardScale) * 349px);
    height: calc(var(--magicianCardScale) * 532px);

    .magician-poster-inner {
        width: 349px;
        height: 532px;
        transform-origin: top left;
        transform: scale(var(--magicianCardScale));
        border-radius: 8px;
        box-shadow: 2px 2px 3px 1px black;
        background-image: url("img/posters.jpg");
        background-size: 400% 200%;
        position: absolute;
    }

    @each $type in variables.$magicianPostersTypes {
        $i: list.index(variables.$magicianPostersTypes, $type) - 1;
        &[data-type="#{$type}"] .magician-poster-inner {
            background-position-x: math.div(($i % 4) * 100%, 3);
            background-position-y: math.div(($i - math.div(($i % 4), 4)) * 100%, 1);
        }
    }
}
