@font-face {
    font-family: 'Brandon Text';
    src: url('BrandonText-Regular.eot');
    src: url('BrandonText-Regular.eot?#iefix') format('embedded-opentype'),
        url('BrandonText-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('BrandonText-Black.eot');
    src: url('BrandonText-Black.eot?#iefix') format('embedded-opentype'),
        url('BrandonText-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('BrandonText-Bold.eot');
    src: url('BrandonText-Bold.eot?#iefix') format('embedded-opentype'),
        url('BrandonText-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('BrandonText-Medium.eot');
    src: url('BrandonText-Medium.eot?#iefix') format('embedded-opentype'),
        url('BrandonText-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

